<%-contentFor('providedcss')%>
<link href="/stylesheets/roomlist.css" rel="stylesheet">
<%-contentFor('body')%>
<div class="container">
  <div class="heading">
    <h1>Current Rooms</h4>
  </div>

    <% if (rooms.length==0) { %> 
      <p> There are no rooms currently available.</p>
      <a href="/rooms/new">Create One</a>
    <% } else { %>
      <div class="table-responsive">
      <table class="table table-striped">
        <tr>
            <th>Room Name</th>
            <th>Room Description</th>
            <th></th>
        </tr>
        <% rooms.forEach (function (room) { %> 
        <tr>
            <td><%= room.name %></td>
            <td><%= room.description %></td>
            <td><a href="/rooms/show/<%= room.id %>">Join</a></td>
        </tr> 
        <% }); %>  
      </table>
      </div>      
    <% } %>
    
</div>

